body {
  background: #eeebeb;
  color: #312f2f;
  margin-top: 5rem;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.photo-title {
  color: #444444;
}

a.photo-title:hover {
  color: #428bca;
  text-decoration: none;
}

.photo-content {
  white-space: pre-line;
}

.photo-img {
  height: 150px;
  width: 150px;
  margin-right: 16px;
}

.photo-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e0dbdb;
}

.photo-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.photo-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.fa {
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3f3d3d;
}
