{% extends "layout.html" %}

{% block header %}
  <h4 class="mb-3">Uploads by {{ user.username }} ({{ photos.total }})</h4>
{% endblock header %}

{% block content %}
    {% for photo in photos.items %}
        <photo class="media content-section">
            <div class="media-body">
              <div class="photo-metadata">
                <small class="text-muted">{{ photo.date_posted.strftime('%d/%m/%Y - %H:%M:%S') }}</small>
              </div>
              <div classe="photo-content">
                <img class="img-thumbnail" src="{{ url_for('static', filename='profile_pics/' + photo.image_file) }}">
              </div>
              <div class="photo-metadata">
                {% if photo.approved == 0 %}
                    <b class="text-danger">Awaiting approval</b>
                {% else %}
                    {% if photo.liked == 1 %}
                      <i onclick="classList.toggle('fa-thumbs-o-up')" class="fa fa-thumbs-up"></i>
                    {% else %}
                      <i onclick="classList.toggle('fa-thumbs-up')" class="fa fa-thumbs-o-up"></i>
                    {% endif %}
                    <b class="text">{{ photo.likes }} likes</b>
                {% endif %}
              </div>
            </div>
        </photo>
    {% endfor %}
{% endblock content %}

{% block footer %}
    {% for page_num in photos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if photos.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_photos', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_photos', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock footer %}
